#aside {
    position: fixed;
    top: 0;
    left: -260px;
    min-width: 260px;
    width: 260px;
    height: 100%;
    background-color: #43425D;
    z-index: 999;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

    &.open {
        left: 0;
    }
}

.rtl {
    #aside {
        right: -260px;
        left: auto;

        &.open {
            right: 0;
        }
    }
}

@media (min-width: 992px) {
    #aside {
        left: 0;
    }

    .rtl {
        #aside {
            right: 0;
        }
    }
}