.aside-nav {
    .nav-link[data-toggle].collapsed:after {
        content: "▾";
    }
    .nav-link[data-toggle]:not(.collapsed):after {
        content: "▴";
    }

    .nav-link {
        padding: 1rem;
        font-size: .75rem;
        color: #a5b9d0;
        position: relative;

        &:focus,
        &:hover {
            background-color: #a5b9d0;
            color: #364558;
        }

        &::before {
            position: absolute;
            content: '';
            width: 5px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: transparent;
        }

        &::after {
            position: absolute;
            vertical-align: middle;
            right: 1rem;
        }

        &.active {
            background-color: rgba($color: #000000, $alpha: 0.1);
            color: #fff;

            &::before {
                background-color: #a3a0fb;
            }

            & > span {
                font-weight: bold;
            }
        }
    }

    .nav {
        // background-color: rgba($color: #000000, $alpha: 0.25);
    }
}