.text-color-1 {
    color: #a2a5b9;
}

.text-color-2 {
    color: #74788d;
}

.text-color-3 {
    color: #595d6e;
}

.text-color-4 {
    color: #48465b;
}

.bg-color-1 {
    background-color: #a2a5b9;
}

.bg-color-2 {
    background-color: #74788d;
}

.bg-color-3 {
    background-color: #595d6e;
}

.bg-color-4 {
    background-color: #48465b;
}