.enter-bg {
    position: relative;
    background-image: url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.enter-inner {
    width: 90%;
    max-width: 350px;

    .enter-logo {
        margin-bottom: -15px;
        position: relative;
        z-index: 2;

        img {
            width: 100px;
            height: auto;
            border-radius: 50%;
        }
    }

    .card {
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    .form-control {
        padding: 0.75rem 1.5rem;
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: none;
        transition: 0.2s;
        height: auto;

        &:focus {
            background-color: rgba($color: #fff, $alpha: 0.6);
            box-shadow: none;
        }
    }

    .btn-login {
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: none;
        padding: 0.75rem 1.5rem;

        &:hover,
        &:focus {
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
    }
}

.btn-google {
    background-color: #fff;
    border-color: #fff;
    color: #757575;

    &:focus,
    &:hover {
        background-color: #fff;
        border-color: #fff;
        color: #757575;
    }
}

.btn-twitter {
    background-color: #1ab7ea;
    border-color: #1ab7ea;
    color: #fff;

    &:focus,
    &:hover {
        background-color: #1ab7ea;
        border-color: #1ab7ea;
        color: #fff;
    }
}

.btn-facebook {
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;

    &:focus,
    &:hover {
        background-color: #4267b2;
        border-color: #4267b2;
        color: #fff;
    }
}