.enter-bg {
    position: relative;
    background-image: url(../images/meeting.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: hidden;
}

#particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

.enter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.enter-inner {
    width: 90%;
    max-width: 420px;

    .enter-logo {
        img {
            width: 100px;
            height: auto;
        }
    }

    .card {
        background-color: rgba($color: #fff, $alpha: 0.2);
    }

    .form-control {
        background-color: rgba($color: #fff, $alpha: 0.5);
        border: none;
        transition: 0.2s;

        &:focus {
            background-color: rgba($color: #fff, $alpha: 0.6);
            box-shadow: none;
        }
    }

    .btn {
        background-color: rgba($color: #000000, $alpha: 0.5);
        border: none;

        &:hover,
        &:focus {
            background-color: rgba($color: #000000, $alpha: 0.6);
        }
    }
}

