.form-group-m {
    position: relative;
}

.form-control-m {
    height: auto;
    padding: 1.4rem .75rem .375rem;

    & + label {
        position: absolute;
        top: 17px;
        right: 13px;
        margin: 0;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		pointer-events: none;
    }

    &:not(:placeholder-shown) {
        & + label {
            top: 6px;
            right: 12px;
            font-size: 10px;
            color: #888;
        }
    }

    &:focus {
        & + label {
            top: 6px;
            right: 12px;
            font-size: 10px;
            color: #5578eb;
        }
    }
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    padding-right: .75rem;
    padding-left: calc(1.5em + .75rem);
    background-position: left calc(.375em + .1875rem) center;

    &:focus {
        & + label {
            color: #c82333;
        }
    }
}