#header {
    min-height: 55px;
    height: 55px;
}

.avatar-placeholder {
    min-width: 32px;
    width: 32px;
    min-height: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #a695e7;
    color: #fff;
}