#header {
    min-height: 55px;
    height: 55px;
}

.header-search {
    input {
        border: none;
        outline: none;
    }

    .fa-search {
        margin-top: 5px;
        margin-right: 5px;
        color: #c7c7c7;
    }
}