.reserve-table-th {
    &>div {
        width: 5.88%;
        font-weight: 900;
        font-size: 12px;
        border-top: 1px solid #eee;
        border-left: 1px solid #eee;
        border-bottom: 1px solid #eee;
        padding: .25rem;
        text-align: center;

        &:nth-child(1) {
            border-right: 1px solid #eee;
        }
    }
}

.table-reserve-title {
    width: 5.88%;
    font-weight: 700;
    font-size: 12px;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    padding: .25rem;
    text-align: center;
}

.table-reserve-data {
    width: 94.08%;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    padding: .25rem;
    text-align: center;
}

.table-reserve-time {
    background-color: #5578eb;
    min-height: 10px;
    border-radius: .25rem;
    font-size: 10px;
    color: #fff;
    cursor: pointer;
    display: block;
}

.reserve-time-checkbox {
    &>input[type="checkbox"] {
        &+label {
            margin: 0;
        }

        &:checked+label {
            background-color: #fff;
            border: 1px solid #5578eb;
            color: #5578eb;
            position: relative;

            &:before {
                font-family: "Font Awesome 5 Pro";
                content: '\f00c';
                position: absolute;
                right: 5px;
            }
        }
    }
}