.select2-container {
    width: 100%!important;
}

.select2-container--default {
    .select2-selection--single {
        border: 1px solid #e2e5ec;
        height: 55px;

        .select2-selection__rendered {
            height: 55px;
            line-height: 55px;
        }

        .select2-selection__arrow {
            top: 14px;
        }
    }
}

.select2-container--focus {
    border: 1px solid #9aabff;
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}