.select2-container {
    width: 100%!important;
}

.select2-container--default {
    .select2-selection {
        border: 1px solid #e2e5ec;
        min-height: 55px;
        height: inherit;

        .select2-selection__rendered{
            padding: 1.4rem .75rem .375rem !important;
            line-height: inherit;
        }

        .select2-selection__arrow {
            top: 14px;
        }
    }
}

.select2-container--focus {
    border: 1px solid #9aabff;
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}

.form-control-m {
    & + span.select2 + label {
        position: absolute;
        margin: 0;
    }
    &:not(:placeholder-shown) + span.select2:not(.select2-container--open) + label {
        top: 6px;
        right: 12px;
        font-size: 10px;
        color: #888;
    }
    & + span.select2-container--open + label {
        top: 6px;
        right: 12px;
        font-size: 10px;
        color: #5578eb;
    }
}

.select2-selection__clear{
    margin-left: 0.5rem;
    font-size: 1.4rem;
}
.select2-selection__choice
{
    display: flex;
    padding: .25em .5em !important;
    font-size: .75em;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    color: #212529;
    background-color: #f8f9fa !important;
}
