.fs-10 {
    font-size: .625rem;
}

.fs-12 {
    font-size: .75rem;
}

.fs-14 {
    font-size: .875rem;
}

.fs-16 {
    font-size: 1rem;
}

.fs-20 {
    font-size: 1.25rem;
}

@media (min-width: 540px) {
    .fs-sm-10 {
        font-size: .625rem;
    }

    .fs-sm-12 {
        font-size: .75rem;
    }

    .fs-sm-14 {
        font-size: .875rem;
    }

    .fs-sm-16 {
        font-size: 1rem;
    }

    .fs-sm-20 {
        font-size: 1.25rem;
    }
}

@media (min-width: 720px) {
    .fs-md-10 {
        font-size: .625rem;
    }

    .fs-md-12 {
        font-size: .75rem;
    }

    .fs-md-14 {
        font-size: .875rem;
    }

    .fs-md-16 {
        font-size: 1rem;
    }

    .fs-md-20 {
        font-size: 1.25rem;
    }
}

@media (min-width: 960px) {
    .fs-lg-10 {
        font-size: .625rem;
    }

    .fs-lg-12 {
        font-size: .75rem;
    }

    .fs-lg-14 {
        font-size: .875rem;
    }

    .fs-lg-16 {
        font-size: 1rem;
    }

    .fs-lg-20 {
        font-size: 1.25rem;
    }
}

@media (min-width: 1140px) {
    .fs-xl-10 {
        font-size: .625rem;
    }

    .fs-xl-12 {
        font-size: .75rem;
    }

    .fs-xl-14 {
        font-size: .875rem;
    }

    .fs-xl-16 {
        font-size: 1rem;
    }

    .fs-xl-20 {
        font-size: 1.25rem;
    }
}